<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834072919526-ortu41vcsjc4i92qnk3e197o64g7kmml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834072919526-ortu41vcsjc4i92qnk3e197o64g7kmml</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834072919526-doprmeqa00ba0puuhhlsp9tos56ms60e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6i1Cyr7J670-ui2HS-VecTNcPW1LxrxM</string>
	<key>GCM_SENDER_ID</key>
	<string>834072919526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otaviopontes.appMelivra</string>
	<key>PROJECT_ID</key>
	<string>melivra</string>
	<key>STORAGE_BUCKET</key>
	<string>melivra.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834072919526:ios:506b01378b52425f6a6a27</string>
	<key>GIDServerClientID</key>
	<string>834072919526-buv9le1jfvbsh6jk5cin1s3ffklsmd7p.apps.googleusercontent.com</string>
</dict>
</plist>